<h5>Other Statistics Pages</h5>

<table class="table table-sm table-responsive">
  <tbody>
    <tr>
      <th>Default Statistics</th>
      <td>
        <a href="{{scheme}}://{{hostName}}/pks/lookup?op=stats" target="_blank">
          {{scheme}}://{{hostName}}/pks/lookup?op=stats
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    <tr>
      <th>Pool Statistics</th>
      <td>
        <a href="https://sks-keyservers.net/status/ks-status.php?server={{hostName}}" target="_blank">
          https://sks-keyservers.net/status/ks-status.php?server={{hostName}}
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    <tr>
      <th>Alternative Statistics</th>
      <td>
        <a href="https://apps.vsund.de/skstat/status/current/{{hostName}}" target="_blank">
          https://apps.vsund.de/skstat/status/current/{{hostName}}
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
